# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.css text
*.html text
*.md text
*.svg text

# Denote all binary files that should not be modified by Git.
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.webp binary
*.gif binary
